// .sliderRoot {
//   position: relative;
//   display: flex;
//   align-items: center;
//   user-select: none;
//   touch-action: none;
// }

// .sliderTrack {
//   position: relative;
//   flex-grow: 1;
//   background-color: #dfe2ee;
//   height: 3px;
//   border-radius: 9999px;
//   display: block;
// }

// .sliderRange {
//   position: absolute;
//   background-color: #3a4570;
//   height: 100%;
// }

// .sliderThumb {
//   position: relative;
//   display: block;
//   width: 20px;
//   height: 20px;
//   background-color: #fff;
//   border: 1px solid #c4c8d8;
//   box-shadow: 0 2px 5px 0 #e3e5ec;
//   border-radius: 9999px;
// }

// .sliderThumb:after {
//   position: absolute;
//   top: 1.5rem;
//   content: attr(aria-valuenow);
//   font-size: 0.8rem;
// }

// .sliderThumb[aria-label='Minimum']:after {
//   left: 0;
// }

// .sliderThumb[aria-label='Maximum']:after {
//   right: 0;
// }

.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
}

.sliderTrack {
  background-color: gray;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.sliderRange {
  position: absolute;
  background-color: greenyellow;
  border-radius: 9999px;
  height: 100%;
}

.sliderThumb {
  transition: all 0.2s;
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  box-shadow: 0 2px 10px black;
  border-radius: 10px;
}
.sliderThumb:hover {
  background-color: greenyellow;
}
.sliderThumb:focus {
  outline: none;
  background-color: greenyellow;
  box-shadow: 0 0 0 2px gray;
}
