.header__logo{
  transition: all 0.7s ease;
  &:hover{
    transform: rotate(360deg);
  }
}

.header__link {
  position: relative;
  &::after {
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: black;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
